/*******************************************************************************
 *                                                                             *
 * PsyhoZOOM's sea theme.                                            *
 *                                                                             *
 ******************************************************************************/
@font-face {
     font-family: "Roboto Regular";
     src: url("/font/roboto/Roboto-Regular.ttf");
   }
@font-face {
  font-family: "Roboto Bold";
   src: url("/font/roboto/Roboto-Bold.ttf");
}

.root {
    -fx-font-family: "Roboto Regular";
}

.jfx-decorator {
  -fx-decorator-color: #083045;
  -fx-background-color: #083045;
  }

.jfx-tab-pane *.tab-header-background {
  -fx-background-color: #083145;
}

.jfx-text-field {
    -jfx-label-float: true;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: TRANSPARENT;
}
.jfx-dialog {
    -fx-background-color: #083145;
}